<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAPckxT0G9Y6kNvOWadR_aUMC7dm1SdPGQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1040204174319</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.csaba.turdesan.MessengerClone</string>
	<key>PROJECT_ID</key>
	<string>messengerclone-5a550</string>
	<key>STORAGE_BUCKET</key>
	<string>messengerclone-5a550.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1040204174319:ios:d452460cb85465538a5c1a</string>
</dict>
</plist>